extends layout

block content
  div(class="z-depth-5" class="card-panel green darken-4" class="white-text"  style="text-align: center")
    h3= title
  div(style="text-align: center", class="card-panel teal lighten-5")
    = time
    p 기준은 최대체력 + (최대마력 * 2) 입니다.
    button(type='button') 전체 
    button(type='button') 전사
    button(type='button') 주술사
    button(type='button') 도적
    button(type='button') 도사
  
  div()
    table(class="highlight", class="responsive-table", class="centered" class="card-panel lime lighten-5")
      thead(class="card-panel lime lighten-3" style="top:-25px; position:relative;")
        tr
          th 순위
          th 직업
          th 닉네임
          th 레벨
          th 최대 체력
          th 최대 마력
          th 체력 + (마력 * 2)

        tbody(style="display: flex; align-items:center;")
        - for(var i = 0; i < data.length; i++)
          tr(style=`${i < 3 ? 'color:#090; font-size:20px; padding:11px;' : ''}`)
            td #{i + 1}
            td #{data[i].class_name || getClassName(data[i].class_id)}
            td #{data[i].nickname}
            td #{data[i].level >= 99 ? '지존' : data[i].level}
            td #{data[i].max_hp.toLocaleString()}
            td #{data[i].max_sp.toLocaleString()}
            td #{(data[i].max_hp + data[i].max_sp * 2).toLocaleString()}

        - function getClassName(class_id) 
           case class_id
            when 1
              - return '평민'
            when 2
              - return '주술사'
            when 3
              - return '술사'
            when 4
              - return '도사'
            when 5
              - return '현사'
            when 6
              - return '현인'
            when 7
              - return '전사'
            when 8
              - return '검객'
            when 9
              - return '검제'
            when 10
              - return '검황'
            when 11
              - return '도인'
            when 12
              - return '명인'
            when 13
              - return '진인'
            when 14
              - return '현자'
            when 15
              - return '검성'
            when 16
              - return '진선'
            when 17
              - return '도적'
            when 18
              - return '자객'
            when 19
              - return '진검'
            when 20
              - return '귀검'
            when 21
              - return '태성'
            default
              - return ''